profiles {
    slurmlite {
        process {
            executor = 'slurm'
            queue = 'defq'
            cpus = 16
            memory = '1.6 GB'
            time = '3h'
            clusterOptions = '--job-name=blast'
        }
    }
    
    local {
        process.executor = 'local'
    }
}
